<script setup lang="ts">
import { ref } from 'vue'
import Sidebar from './components/Sidebar.vue'
import Main from './components/Main.vue'
import MainFooter from './components/MainFooter.vue'
</script>

<template>
  <n-layout content-class="full-flex">
    <n-layout-content content-class="full-flex">
      <n-layout has-sider>
        <n-layout-sider
          collapse-mode="width"
          :collapsed-width="20"
          :width="240"
          show-trigger="arrow-circle"
          content-style=""
          :show-collapsed-content="false"
          bordered
        >
          <Sidebar />
        </n-layout-sider>
        <n-layout-content content-class="full-flex">
          <Main />
        </n-layout-content>
      </n-layout>
    </n-layout-content>
    <n-layout-footer>
      <MainFooter />
    </n-layout-footer>
  </n-layout>
</template>

<style>
.h100 {
  height: 100%;
}
.w100 {
  width: 100%;
}
.p0 {
  padding: 0;
}
.full-flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
</style>
<style scoped></style>
