<script setup lang="ts">
import { ref, onMounted, onUnmounted, watch } from 'vue'
import * as monaco from 'monaco-editor'

const containerRef = ref<HTMLElement>()
let editor: monaco.editor.IStandaloneCodeEditor
const model = defineModel({ default: '' })
const type = defineModel('type', { default: 'text' })
const readonly = defineModel('readonly', { default: false, required: false })

const handleResize = (dimension: monaco.editor.IDimension) => {
  editor?.layout(dimension)
}
const resizeObserver = new ResizeObserver((entries) => {
  for (const entry of entries) {
    handleResize(entry.contentRect)
  }
})

onMounted(() => {
  if (containerRef.value) {
    editor = monaco.editor.create(containerRef.value, {
      language: type.value,
      minimap: {
        enabled: false
      },
      value: model.value,
      readOnly: readonly.value,
      wordWrap: 'on'
    })
    editor.onDidChangeModelContent(() => (model.value = editor.getValue()))
    resizeObserver.observe(containerRef.value)
  }
})

onUnmounted(() => {
  editor?.dispose()
  resizeObserver.disconnect()
})

watch(model, (newVal) => {
  if (editor?.getValue() !== newVal) editor?.setValue(newVal)
})
</script>

<template>
  <div ref="containerRef" class="w100 h100"></div>
</template>

<style scoped></style>
