<script setup lang="ts">
import store from '../store'
</script>

<template>
  <n-button
    @click="
      () =>
        (store.panelSplitDirection =
          store.panelSplitDirection === 'vertical' ? 'horizontal' : 'vertical')
    "
    >split {{ store.panelSplitDirection }}</n-button
  >
</template>

<style scoped></style>
