<script setup lang="ts">
import { onMounted, ref } from 'vue'
import { createDiscreteApi } from 'naive-ui'
import { RequestTool } from '../request-tool'
import { NotificationApiInjection } from 'naive-ui/es/notification/src/NotificationProvider'
import store from '../store'

// const inputUrl = store.inputUrl
// const selectReqMethod = ref('GET')
// const response = ref<unknown>(null)
// const reqBodyType = ref('JSON')

let notification: NotificationApiInjection | null = null
const tabsData = ref([1, 2, 3, 4])

const handleSend = async () => {
  // verify url
  if (!RequestTool.isValid(store.inputUrl)) {
    store.responseBody = 'Error: URL input is invalid or illegal.'
    throw new Error('Invalid url input')
  }

  // launch request
  let plain: string
  try {
    switch (store.requestMethod) {
      case 'GET':
        plain = await RequestTool.get(store.inputUrl)
        break
      case 'POST':
        plain = await RequestTool.post(store.inputUrl, store.requestBody)
        break
    }
  } catch (e: any) {
    if (!notification) {
      notification = createDiscreteApi(['notification']).notification
    }
    notification.error({
      title: 'Error',
      content: e.stack
    })
    throw e
  }
  store.responseBody = plain
}

onMounted(() => {
  document.addEventListener('keypress', (ev) => {
    console.log('key pressed:', ev.code)
    if (ev.code === 'Enter') {
      handleSend()
    }
  })
})
</script>

<template>
  <n-tabs
    type="card"
    :addable="true"
    :closable="true"
    class="full-flex"
    pane-class="full-flex"
    style="flex-grow: 1"
    pane-style="flex-grow:1"
  >
    <n-tab-pane v-for="panel in tabsData" :key="panel" :name="panel">
      <n-layout class="w100 h100" content-class="full-flex">
        <n-layout-header>
          <MethodAndUrl @on-send-click="handleSend" />
        </n-layout-header>
        <n-layout-content>
          <div style="position: fixed; opacity: 0.5; top: 0; left: 0; z-index: 99">
            {{ store.requestMethod }} {{ store.inputUrl }} {{ store.requestBodyType }}
          </div>
          <n-split :direction="store.panelSplitDirection" :max="0.75" :min="0.25">
            <template #1>
              <n-card content-style="padding:0" class="full-flex h100">
                <RequestPanel />
              </n-card>
            </template>
            <template #2>
              <n-card content-style="padding:0" class="full-flex h100">
                <ResponsePanel />
              </n-card>
            </template>
          </n-split>
        </n-layout-content>
      </n-layout>
    </n-tab-pane>
  </n-tabs>
</template>

<style scoped></style>
