<script setup lang="ts">
import store from '../store'

defineEmits(['onSendClick'])

const selectOptions = [
  {
    label: 'GET',
    value: 'GET'
  },
  {
    label: 'POST',
    value: 'POST'
  }
]
</script>

<template>
  <n-input-group>
    <n-select
      v-model:value="store.requestMethod"
      :options="selectOptions"
      :style="{ width: '8em' }"
    />
    <n-input v-model:value="store.inputUrl" />
    <n-button @click="$emit('onSendClick')">Send</n-button>
  </n-input-group>
</template>

<style scoped></style>
