<script setup lang="ts">
import { FormatTools } from '../format-tools'
import store from '../store'

const columns = [
  {
    title: 'Key',
    key: 'key'
  },
  {
    title: 'Value',
    key: 'value'
  }
]

const selections = [
  {
    label: 'none',
    value: 'none'
  },
  {
    label: 'form-data',
    value: 'form-data'
  },
  {
    label: 'x-www-form-urlencoded',
    value: 'x-www-form-urlencoded'
  },
  {
    label: 'JSON',
    value: 'JSON'
  },
  {
    label: 'Text',
    value: 'Text'
  },
  {
    label: 'XML',
    value: 'XML'
  },
  {
    label: 'HTML',
    value: 'HTML'
  }
].map((s) => {
  s.value = s.value.toLowerCase()
  return s
})

const selectBodyTypeOptions = [
  {
    type: 'group',
    label: 'STRUCTURE',
    key: 'STRUCTURE',
    children: [
      {
        label: 'Multipart Form',
        value: 'MULTIPART_FORM'
      },
      {
        label: 'GraphQL',
        value: 'GRAPHQL'
      }
    ]
  },
  {
    type: 'group',
    label: 'TEXT',
    key: 'TEXT',
    children: [
      {
        label: 'JSON',
        value: 'JSON'
      },
      {
        label: 'XML',
        value: 'XML'
      }
    ]
  }
]
</script>

<template>
  <n-tabs type="line" :tabs-padding="20" pane-class="full-flex" class="h100">
    <n-tab-pane name="Params">
      <n-data-table :bordered="false" :single-line="false" :columns="columns" />
    </n-tab-pane>
    <n-tab-pane name="Headers"> -</n-tab-pane>
    <n-tab-pane name="Body" display-directive="show">
      <div>
        <n-radio-group v-model:value="value" name="radiogroup">
          <n-space>
            <n-radio v-for="select in selections" :key="select.value" :value="select.value">
              {{ select.label }}
              <!-- <div v-if="select.label === 'raw'"> -->
              <!-- <n-button>test</n-button>
                  <n-button @click="handleCodeFormat()">Format</n-button>
                  <n-select
                    v-model:value="store.requestBodyType"
                    :options="selectBodyTypeOptions"
                  /> -->
              <!-- </div> -->
            </n-radio>
          </n-space>
        </n-radio-group>
      </div>
      <CodeEditor />
    </n-tab-pane>
  </n-tabs>
</template>

<style scoped></style>
