<script setup lang="ts">
import { computed } from 'vue'
import store from '../store'

const getResponse = computed(() => store.responseBody)

const formatSelections = [
  {
    label: 'Auto',
    value: 'auto'
  },
  {
    label: 'Text',
    value: 'text'
  },
  {
    label: 'JSON',
    value: 'json'
  },
  {
    label: 'XML',
    value: 'xml'
  },
  {
    label: 'HTML',
    value: 'html'
  }
]

const statusStr = 'Status: '
const timeStr = '  Time: '
const sizeStr = '  Size: '

const size = 197.07
const time = 213
const status = '200 OK'

</script>

<template>
  <n-tabs type="line" :tabs-padding="20" pane-style="" class="h100" style="max-width: 98%;">
    <n-tab-pane name="Response" class="h100">
      <n-tabs type="segment" animated size="small" style="max-width: 45%" >
        <n-tab-pane
          v-for="data in formatSelections"
          :key="data.label"
          :name="data.value"
          :tab="data.label"
        >
        </n-tab-pane>
      </n-tabs>
      <!--        <n-input v-model:value="getResponse" readonly type="textarea" />-->
      <CodeEditor v-model="getResponse" :readonly="true" />
    </n-tab-pane>
    <n-tab-pane name="Cookies"> -</n-tab-pane>
    <n-tab-pane name="Headers"> -</n-tab-pane>
    <template #suffix>
      <n-flex>
        <n-text :size="12">
          {{ statusStr }}
        </n-text>

        <n-gradient-text :size="12" type="success">
          {{ status }}
        </n-gradient-text>

        <n-text :size="12">
          {{ timeStr }}
        </n-text>

        <n-gradient-text :size="12" type="success"> {{ time }}ms </n-gradient-text>

        <n-text :size="12">
          {{ sizeStr }}
        </n-text>

        <n-gradient-text :size="12" type="success"> {{ size }}KB </n-gradient-text>
      </n-flex>
    </template>
  </n-tabs>
</template>

<style scoped></style>
