<script setup lang="ts">
const historyData = [
  {
    label:'GET',
    value:'http://www.baidu.com'
  },
  {
    label:'POST',
    value:'http://10.96.200.253/currentUser/data1111111111111'
  },
  {
    label:'GET',
    value:'http://www.baidu.com'
  },
  {
    label:'GET',
    value:'http://www.baidu.com'
  },
  {
    label:'POST',
    value:'http://10.96.200.253/currentUser/data1111111111111'
  },
]
</script>

<template>
  <n-list bordered>
    <template #header> History </template>
    <n-space justify="vertical">
      <n-input size="small"  placeholder="Search" :style="{ width: '270px' }" />
    </n-space>
    <n-list-item>
      <n-ellipsis
        v-for="data in historyData"
        :key="data.value"
        style="max-width: 300px"
        :value="data.value"
      >
        <n-tag :bordered="false" size="small" type="success"> {{ data.label }} </n-tag>
        {{ data.value }}
      </n-ellipsis>
    </n-list-item>
  </n-list>

</template>

<style scoped></style>
